<html>
    <head>
        </head>
        <body>
            <div id="patient_about_body">
               <div id="patient_about_body_content">
                    <label>Name:</label> {{name}}<br>
                    <label>E-Mail:</label> {{email}}<br>
                    <label>Mob. number:</label> {{mobnumber}}<br>
                    <label>Blood Group:</label> {{bloodgroup}}<br>
                    <label>Diseases:</label> {{diseases}}<br>
                    <button (click)="editPatientDetails()">Edit</button>
                    
                    <div id="patient_details_edit_form"><br>
                        <input id="patient_n" type="text" placeholder="Name"><br>
                        <input id="patient_mobnumber" type="text" placeholder="Mob. number"><br>
                        <input id="patient_bloodgroup" type="text" placeholder="Blood Group"><br>
                        <input id="patient_diseases" type="text" placeholder="Diseases"><br>
                        <button (click)="savePatientDetails()">Save</button>
                    </div>
                </div>
            </div>
        </body>
    </html>
