#nurse_sidebar
{
    position:absolute;
    top:130px;
    width:18%;
    height:100em;
    background-color:grey;
    padding:40px;
}
#nurse_name
{
    font-weight:bold;
    font-size:20px;
}
#nurse_image
{
    border:2px solid black;
    padding:5px;
    margin-top:10px;
}
.list_nurse_sidebar_item
{
    list-style-type:none;
    font-size:20px;
    color:darkblue;
}
.list_nurse_sidebar_item
{
    background-color:white;
}
.b{
    text-align: center;
}
a:link
{
    text-decoration:none;
}
a:hover
{
    text-decoration:none;
}
a:visited
{
    text-decoration:none;
}
.list_nurse_sidebar_item:hover
{
    background-color:black;
}
a:active
{
    text-decoration:none;
}
.a
{
    border:2px solid black;
}
#nurse_body
{
    position:absolute;
    top:130px;
    left:243px;
    background-color:rgb(243, 183, 183);
    height:100em;
    width:110em;
}